//マップ型変数breakpointsを定義
$breakpoints: (
  //キー　　値
  "pc": "screen and (max-width: 1200px)",
  "service": "screen and (max-width: 1050px)",
  "tab": "screen and (max-width: 900px)",
  "balloon": "screen and (max-width: 650px)",
  "sp": "screen and (max-width: 500px)"
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

// 変数まとめ
$theme-blue: #3bb5c4;
$theme-green: #4fc6a6;
$theme-yellow-green: #95cc4c;
$theme-gray: #f4f4f4;

// 共通パーツ
body {
  color: #222;
  font-family: sans-serif;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

img {
  width: 100%;
}

.flow {
  overflow: hidden;
}

.br-sp-show {
  display: none;

  @include mq(sp){
    display: block;
  }
}

.sp-hide {
  

  @include mq(sp){
    display: none;
  }
}

// headerに似ているボタン
.btn {
  display: inline-block;
  padding: 7px 70px;
  background-color: $theme-blue;
  color: white;
  border: 3px solid #333;
  border-radius: 100vh;
  letter-spacing: 0.05em;
  transition: all 0.3s;
  font-weight: bold;

  // &:hover {
  //   color: $theme-blue;
  //   background-color: #fff;
  //   opacity: 1;
  // }
}

// タイトル系
.title-first {
  font-weight: bold;
  text-align: center;

  p {
    font-size: 22px;

    @include mq(sp) {
      font-size: 18px;
    }
  }
  h2 {
    font-size: 40px;
    color: $theme-blue;

    @include mq(sp) {
      font-size: 34px;
    }
  }
}
// タイトル系

// 吹き出し開始
.balloon {
  position: relative;
  // width: 100%;
  background: white;
  padding: 25px 50px;
  text-align: left;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 100vh;
  line-height: 1.8;

  @include mq(tab) {
    padding: 20px 35px;
  }
  @include mq(sp) {
    font-size: 11px;
    line-height: 1.6;
    padding: 20px 30px;
  }
}
.balloon:after {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-color: rgba(90, 230, 40, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 30px;
  border-right-width: 30px;
  margin-top: -10px;
  border-right-color: white;
  right: 99%;
  top: 50%;
}
// 吹き出し終了

.img {

  .icon {
    text-align: center;
    background-color: #B4E1E7;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 100vh;
    position: relative;
    
    i {
      font-size: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
      
      @include mq(pc){
        font-size: 65px;
      }
      @include mq(tab){
        font-size: 80px;
      }
      @include mq(sp){
        font-size: 110px;
      }
    }
  }
}

// 共通パーツ終了

// header開始
header {
  background-color: $theme-gray;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  box-shadow: 2px 0 10px #ddd;

  @include mq(pc){
    padding: 10px 0;
  }

  .container {
    max-width: 1400px;

    .header-nav {
      display: flex;
      align-items: center;

      .header-nav-left {
        margin-right: auto;

        img {
          width: 130px;
        }
      } // left
      .header-nav-right {
        display: flex;
        align-items: center;
        gap: 30px;
        font-weight: bold;

        @include mq(pc) {
          display: none;
        }

        li {
          a {
            font-size: 16px;
          }
        }
      } // right
      .openbtn1{
        position: relative;/*ボタン内側の基点となるためrelativeを指定*/
        background: $theme-gray;
        cursor: pointer;
          width: 50px;
          height:50px;
        border-radius: 5px;
        display: none;

        @include mq(pc){
          display: block;
        }
      }
      
      /*ボタン内側*/
      .openbtn1 span{
          display: inline-block;
          transition: all .4s;/*アニメーションの設定*/
          position: absolute;
          left: 7px;
          height: 3px;
          border-radius: 2px;
        background: black;
          width: 65%;
        }
      
      .openbtn1 span:nth-of-type(1) {
        top:15px; 
      }
      
      .openbtn1 span:nth-of-type(2) {
        top:23px;
      }
      
      .openbtn1 span:nth-of-type(3) {
        top:31px;
      }
      
      /*activeクラスが付与されると線が回転して×に*/
      
      .openbtn1.active span:nth-of-type(1) {
          top: 18px;
          left: 18px;
          transform: translateY(6px) rotate(-45deg);
          width: 40%;
      }
      
      .openbtn1.active span:nth-of-type(2) {
        opacity: 0;/*真ん中の線は透過*/
      }
      
      .openbtn1.active span:nth-of-type(3){
          top: 30px;
          left: 18px;
          transform: translateY(-6px) rotate(45deg);
          width: 40%;
      }
    } // header-nav
  } // container
}
// header終了



// header-spかいし
.header-sp {
  transform: translateX(100%);
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include mq(pc){
    background-color: $theme-gray;
    transition: transform .3s;
    
    &.active {
      transform: translateX(0%);
    }
  }
}
// header-spかいし


// sp-bottom-nav開始
.sp-bottom-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $theme-gray;
  display: none;
  z-index: 999;


  @include mq(sp){
    display: flex;
  }

  li {
    width: 100%;
    text-align: center;
    border-right: 2px solid #aaa;
    
    &:last-child {
      border: none;
      // line-height: 40px;
    }
    
    a {
      width: 100%;
      display: block;
      height: 55px;
      padding-top: 10px;
      font-size: 12px;
    }
  }
}
// sp-bottom-nav終了


// fv開始
.fv {
  position: relative;
  margin-top: 80px;

  .container {
    padding-top: 170px;

    @include mq(tab) {
      padding-top: 170px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq(sp) {
      // padding-top: 170px;
      padding-top: 80px;
      padding-left: 10px;
      padding-right: 10px;
    }

    h2 {
      font-size: 48px;
      text-align: center;
      letter-spacing: 0.1em;

      @include mq(tab) {
        font-size: 40px;
      }
      @include mq(sp) {
        font-size: 32px;
        letter-spacing: 0.03em;
      }

      span {
        font-size: 34px;

        @include mq(tab) {
          font-size: 23px;
        }
        @include mq(sp) {
          font-size: 16px;
        }
        br {
          // display: none;

          @include mq(sp) {
            // display: block;
          }
        }
      }
    } // h2
    .bottom-img {
      margin-top: 70px;

      @include mq(sp) {
        margin-top: 130px;
      }
    }
  } // container
  .fv-news {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 30px;
    background-color: #fff;
    width: 100%;
    max-width: 50%;
    padding: 20px 40px;
    border-radius: 100vh;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.13);
    gap: 30px;

    @include mq(pc) {
      max-width: 70%;
      gap: 20px;
    }
    @include mq(tab) {
      max-width: calc(100% - 20px);
      gap: 20px;
      left: 10px;
      bottom: 20px;
      padding: 10px 20px;
    }
    @include mq(sp) {
      padding: 7px 12px;
      gap: 12px;
      bottom: initial;
      top: 230px;
      // flex-direction: column;
      // flex-wrap: wrap;
    }
    h3 {
      font-size: 24px;

      @include mq(tab) {
        font-size: 20px;
      }
      @include mq(sp) {
        font-size: 16px;
        // width: 100%;
      }
    } // h3
    .fv-news-center {
      .time {
        font-size: 12px;
        color: #999;
        font-weight: bold;
        @include mq(sp) {
          font-size: 11px;
        }
      }
      .title {
        @include mq(sp) {
          font-size: 14px;
        }
      } // title
    } // fv-news-center
    .fv-news-right {
      margin-left: auto;

      a {
        color: #888;

        @include mq(tab) {
          font-size: 14px;
        }
        @include mq(sp) {
          font-size: 12px;
          text-align: left;
        }
      }
    }
  } // fv-news
  .right-bottom-btn {
    // position: absolute;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 5;

    @include mq(pc) {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
    @include mq(sp) {
      bottom: 10px;
      right: 10px;
      display: none;
    }

    .btn {
      padding: 35px 20px;
      border-radius: 50%;
      font-size: 26px;

      @include mq(pc) {
        padding: 25px 13px;
        font-size: 20px;
      }
      @include mq(tab) {
        padding: 15px 10px;
        font-size: 16px;
      }
    }
  } // right-bottom-btn
  .circle {
    position: absolute;
    width: 45%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    background-image: url(../images/fv-left-circle.png);
    background-size: cover;
    border-radius: 50%;
    z-index: -1;

    @include mq(tab) {
      width: 430px;
    }
  }
  .left-circle {
    top: -240px;
    left: -200px;

    @include mq(tab){
      top: -200px;
      left: -180px;
    }
    @include mq(sp){
      top: -240px;
      left: -180px;
      display: none;
    }
    
  } // left-circle
  .right-circle {
    bottom: -180px;
    right: -180px;
    background-image: url(../images/fv-right-circle.png);
    @include mq(sp){
      bottom: -250px;
      display: none;
    }
  } // right-circle

}
// fv終了

// want-to-know開始
.want-to-know {
  background-color: $theme-blue;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
  margin-top: -7px;

  @include mq(sp) {
    padding: 65px 0;
  }

  .container {
    h2 {
      text-align: center;
      font-size: 32px;
      letter-spacing: 0.02em;

      @include mq(tab) {
        font-size: 28px;
      }
      @include mq(sp) {
        font-size: 24px;
      }
    }
    .want-to-know-text {
      margin-top: 40px;
      text-align: center;
      font-size: 18px;
      line-height: 2.4;
      letter-spacing: 0.02em;

      @include mq(tab) {
        font-size: 15px;
      }
      @include mq(sp) {
        font-size: 14px;
        line-height: 2;
        text-align: left;
        margin-top: 30px;
      }
    } // want-to-text
    .sp-show {
      display: none;

      @include mq(sp) {
        // display: block;
      }
    }
  } // container
}
// want-to-know終了

// event開始
.event {
  padding: 100px 0;

  @include mq(tab) {
    padding: 80px 0;
  }

  .container {
    max-width: 1000px;

    .event-items {
      display: flex;
      gap: 80px;
      margin-top: 60px;

      @include mq(pc) {
        gap: 60px;
      }
      @include mq(tab) {
        gap: 40px;
        flex-direction: column;
        max-width: 500px;
        margin: 40px auto 0;
      }

      .event-item {
        padding: 50px 40px;
        background-color: $theme-green;
        color: white;
        border-radius: 30px;

        @include mq(tab) {
          padding: 40px 30px;
        }
        @include mq(sp) {
          padding: 40px 20px;
        }

        &:nth-child(2) {
          background-color: $theme-yellow-green;
        }

        h3 {
          text-align: center;
          font-size: 28px;
          letter-spacing: 0.05em;

          @include mq(sp) {
            font-size: 24px;
          }
        }
        .event-item-img {
          margin-top: 25px;
          text-align: center;

          img {
            max-width: 200px;
            width: 180px;
            object-fit: cover;
            height: 200px;
            width: 100%;
          }
        } // img
        .event-item-text {
          line-height: 2.2;
          margin-top: 25px;

          @include mq(sp) {
            font-size: 16px;
          }
        } // text
      } // item
    } // event-items
  } // container
}
// event終了

// event-section開始
.event-section:nth-child(2) {
  background-color: $theme-yellow-green;
}
.event-section {
  background-color: $theme-green;
  padding: 100px 0;

  @include mq(tab) {
    padding: 80px 0;
  }

  .container {
    .event-title {
      text-align: center;
      color: white;

      .lead {
        font-size: 22px;
        @include mq(sp) {
          font-size: 18px;
        }
      }
      h2 {
        font-size: 40px;

        @include mq(sp) {
          font-size: 28px;
        }
      }
    } // event-title
    .top-images {
      display: flex;
      max-width: 800px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 60px;
      gap: 30px;

      @include mq(tab) {
        flex-direction: column;
        margin-top: 45px;
        gap: 20px;
      }

      .left {
        width: 100%;
        max-width: 50%;
      } // left
      .right {
        max-width: 50%;

        @include mq(tab) {
          max-width: 100%;
        }

        .right-item {
          background-color: #b7e7db;
          margin-top: 30px;
          padding: 5px 35px;
          font-weight: bold;
          font-size: 25px;
          display: inline-block;
          letter-spacing: 0.2em;
          border-radius: 100vh;

          @include mq(tab) {
            display: block;
            text-align: center;
          }
          @include mq(sp) {
            font-size: 20px;
          }

          span {
            font-size: 55px;
            // line-height: 40px;

            @include mq(sp) {
              font-size: 40px;
            }
          }
          .small {
            font-size: 14px;
            margin-top: -10px;
            display: block;
            text-align: center;
            letter-spacing: 0;

            @include mq(sp) {
              margin-top: -5px;
            }
          }
        }
        .besujob-right {
          background-color: #d4ebb7;
        }
      } // right
    } // top-images
    .top-images-bottom-text {
      margin-top: 40px;
      color: white;
      font-size: 24px;
      line-height: 2.2;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.02em;

      @include mq(tab) {
        font-size: 20px;
      }
      @include mq(sp) {
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
      }
    }
    .image-wrapper {
      display: flex;
      gap: 30px;
      margin-top: 40px;

      @include mq(sp) {
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
      }

      img {
      }
    } // image-wraper
    h3 {
      margin-top: 80px;
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      color: white;

      @include mq(tab) {
        margin-top: 60px;
      }
    }
    .content-item {
      background-color: #fff;
      padding: 20px 40px;
      margin-top: 40px;
      border-radius: 80px;
      position: relative;
      @include mq(sp) {
        margin-top: 30px;
        padding: 20px 35px;
      }
      .num {
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        left: 0;
        top: -40px;

        @include mq(sp) {
          font-size: 30px;
          top: -25px;
        }
      }

      h4 {
        font-weight: bold;
        font-size: 24px;

        @include mq(sp) {
          font-size: 18px;
        }
      }
      p {
        margin-top: 10px;
        font-weight: bold;
        color: #333;
        font-size: 15px;
        @include mq(sp) {
          font-size: 12px;
        }
      }
    } // content-item
    .voices {
      display: flex;
      gap: 50px;
      margin-top: 40px;

      @include mq(pc) {
        gap: 35px;
      }
      @include mq(tab) {
        flex-direction: column;
        gap: 35px;
      }

      .voice {
        background-color: #fff;
        padding: 60px 40px 40px;
        border-radius: 30px;
        width: 100%;

        @include mq(pc) {
          padding: 50px 30px 30px;
        }
        @include mq(tab) {
          max-width: 450px;
          margin: 0 auto;
          padding: 45px 25px 25px;
        }

        .text {
          line-height: 2;
          font-weight: bold;
        } // text
        .name {
          font-size: 14px;
          text-align: right;
          margin-top: 20px;
          font-weight: bold;

          @include mq(pc) {
            margin-top: 15px;
          }
        } // name
      } // voice
    } // voices
    .schedules {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;

      .schedule {
        font-size: 32px;
        font-weight: bold;
        color: white;
        padding-bottom: 20px;
        margin-top: 40px;
        border-bottom: 2px solid #fff;
        display: inline-block;
        padding: 0 20px 20px;
        letter-spacing: 0.1em;
        text-align: left;

        @include mq(tab) {
          width: 95%;
          // width: 100%;
          text-align: left;
          font-size: 22px;
          margin-top: 30px;
        }
        @include mq(sp) {
          font-size: 16px;
          width: 100%;
          padding: 0 15px 15px;
        }

        br {
          // display: none;

          @include mq(tab) {
            display: block;
          }
        }
        .pc-none {
          display: none;

          @include mq(tab){
            display: block;
          }
        }

        span {
          padding-left: 40px;
          padding-left: 0;

          @include mq(tab) {
            padding-left: 0;
          }
        }
        p {
          text-align: left;
          font-size: 24px;
          font-weight: normal;
          margin-top: 5px;

          @include mq(tab) {
            font-size: 18px;
          }
          @include mq(sp) {
            font-size: 15px;
          }
        }
      } // schedule
    } // schedules
    .balloon-wrapper {
      display: flex;
      gap: 40px;
      max-width: 1000px;
      align-items: center;
      justify-content: center;
      margin: 80px auto 0;

      @include mq(tab) {
        gap: 30px;
        margin-top: 60px;
        margin-left: 20px;
        margin-left: 0;
      }
      @include mq(sp) {
      }

      .balloon-img {
        min-width: 140px;

        @include mq(balloon) {
          // display: none;
          min-width: 60px;
          text-align: left;
        }
        img {
          width: 100%;
        }

        p {
          color: white;
          text-align: center;

          @include mq(sp){
            font-size: 12px;
          }
        }
      } //img
      .balloon {
      }
    } // balloon-wrapper
  } // container
}
.besujob {
  background-color: $theme-yellow-green;
}
// event-section終了

// contact-btn-wrapper開始
.contact-btn-wrapper {
  text-align: center;
  background-color: $theme-blue;
  padding: 80px 0;

  h2 {
    color: white;
    letter-spacing: .03em;

    @include mq(sp){
      font-size: 20px;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 30px;

    @include mq(tab){
      flex-direction: column;
      gap: 15px;
    }

    .btn {
      background-color: #fff;
      display: block;
      color: #28be65;
      padding-top: 10px;
      padding-bottom: 10px;

      @include mq(tab){
        max-width: 400px;
        margin: auto;
      }

      &:nth-child(2){
        color: #3eb4fc;
      }
    }
  }
}
// contact-btn-wrapper終了


// voice-of-student開始
.voice-of-student {
  padding: 100px 0;

  @include mq(tab){
    padding: 80px 0;
  }

  .container {

    .voices {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 60px 40px;
      margin-top: 60px;

      @include mq(pc){
        grid-template-columns: repeat(2, 1fr);
      }

      @include mq(tab){
        gap: 30px 30px;
        margin-top: 40px;
      }
      @include mq(balloon) {
        grid-template-columns: 1fr;
      }

      .voice {
        padding: 50px 40px 40px;
        background-color: $theme-gray;
        border-radius: 35px;

        @include mq(tab){
          padding: 50px 20px 30px;
        }

        .top {
          margin-bottom: 15px;
          font-size: 14px;

          span {
            font-weight: bold;
            font-size: 1.1em;
          }
        }
        .text {
          margin-top: 25px;
          font-size: 15px;
          letter-spacing: .02em;
          line-height: 2;
        }
        .name {
          text-align: right;
          margin-top: 20px;
          font-weight: bold;
          font-size: 14px;
        }
      } // voice
    } // voices
  } // container
}
// voice-of-student終了


// flow-section開始
.flow-section {
  padding: 100px 0;
  background-color: $theme-blue;

  @include mq(tab){
    padding: 70px 0;
  }


  .container {

    .title {
      color: white;
      text-align: center;
      letter-spacing: .01em;

      p {
        font-size: 24px;

        @include mq(tab){
          font-size: 20px;
        }
      }
      h2 {
        font-size: 34px;

        @include mq(tab){
          font-size: 30px;
        }
      }
    } // title
    .flow-items {
      display: flex;
      gap: 40px;
      margin-top: 140px;
      position: relative;
      z-index: 1;

      @include mq(tab){
        flex-direction: column;
        gap: 100px;
        margin-top: 100px;
      }

      &::before {
        content: '';
        width: 80%;
        position: absolute;
        background-color: white;
        height: 10px;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
        z-index: 1;
        // transform: translateY(-50%);
      }

      .flow-item {
        background-color: #fff;
        position: relative;
        padding: 110px 20px 80px;
        width: 100%;
        border-radius: 30px;
        z-index: 2;

        .img {
          text-align: center;
          max-width: 220px;
          margin: 0 auto;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -100px;
          background-color: $theme-gray;
          width: 180px;
          height: 180px;
          border-radius: 50%;

          @include mq(tab){
            top: -70px;
            width: 150px;
            height: 150px;
            
          }

          i {
            font-size: 70px;
            line-height: 180px;

            @include mq(tab){
              line-height: 150px;
            }
          }

          img {
            width: 100%;
            width: 180px;

            @include mq(tab){
              width: 150px;
            }
          }
        } // img
        h3 {
          font-size: 24px;
          text-align: center;
        }
        p {
          line-height: 2;
          margin-top: 25px;
          font-weight: bold;
          font-size: 16px;
          color: #444;
        }
      } // item
    } // items
    .area {
      color: white;
      text-align: center;
      font-size: 28px;
      margin-top: 80px;
    }
    .image-wrapper {
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-top: 50px;

      @include mq(tab){
        margin-top: 30px;
        gap: 30px;
      }
      @include mq(sp){
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
        margin: auto;
        margin-top: 30px;
      }
    }
    .with-cafe {
      display: flex;
      margin-top: 20px;
      align-items: center;

      @include mq(tab){
        flex-direction: column;
        gap: 30px;
        text-align: left;
      }

      h4 {

      }

      .left {
        min-width: 370px;
        color: white;

        @include mq(sp){
          min-width: 0px;
          width: 100%;
        }

        h4 {
          font-size: 30px;
        }
        .add {
          font-size: 20px;
          font-weight: bold;
        }
        ul {
          margin-top: 20px;
          padding-left: 10px;

          li {
            display: flex;
            margin-top: 10px;
            font-size: 14px;

            .li-left {
              width: 100%;
              max-width: 90px;
            }
            .li-right {
              width: 100%;
            }
          }
        }
      } // left
      .right {
        width: 100%;

        ul {
          display: flex;
          gap: 40px;

          @include mq(tab){
            gap: 25px;
          }
          @include mq(sp){
            flex-direction: column;
            max-width: 200px;
            margin: 0 auto;
          }

          li {
            width: 100%;

            .img {

              .icon {
                text-align: center;
                background-color: #B4E1E7;
                aspect-ratio: 1 / 1;
                width: 100%;
                border-radius: 100vh;
                position: relative;
                
                i {
                  font-size: 80px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-size: 100px;
                  
                  @include mq(pc){
                    font-size: 65px;
                  }
                  @include mq(tab){
                    font-size: 80px;
                  }
                  @include mq(sp){
                    font-size: 110px;
                  }
                }
              }
            }
            p {
              text-align: center;
              color: white;
              font-weight: bold;
              font-size: 22px;
              margin-top: 5px;
            }
          }
        }
      } // right
    } // with-cafe
    .map {
      margin-top: 100px;

      @include mq(tab){
        margin-top: 60px;
      }
      @include mq(sp){
        margin-top: 30px;
      }

      
      iframe {
        width: 100%;
        height: 250px;
      }
    }
  } // container
}
// flow-section終了


// service開始
.service {
  padding: 100px 0 0px;

  @include mq(tab){
    padding: 80px 0 0px;
  }

  .container {


    h2 {
      text-align: center;
      font-size: 38px;
      letter-spacing: .02em;

      @include mq(tab){
        font-size: 30px;
      }
    }
    .lead {
      text-align: center;
      font-weight: bold;
      color: $theme-blue;
      font-size: 24px;
      margin-top: 30px;
      line-height: 1.7;
      @include mq(tab){
        font-size: 18px;
      }
    }
    .service-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 50px;
      margin-top: 50px;

      @include mq(pc){
        gap: 30px 40px;
      }

      @include mq(service){
        grid-template-columns: repeat(1, 1fr);
      }

      .service-item {
        display: flex;
        padding: 30px;
        gap: 30px;
        background-color: $theme-gray;
        border-radius: 25px;

        @include mq(sp){
          flex-direction: column;
        }

        .left {
          min-width: 120px; 

          @include mq(sp){
            max-width: 350px;
            margin: 0 auto;
          }
          img {
            width: 100%;
            max-width: 130px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;

            @include mq(sp) {
              max-width: 240px;
            }
          }
        }
        .right {

          h3 {
            font-size: 20px;
          }
          p {
            margin-top: 15px;
            line-height: 2.2;
          }
        } // right
      } // item
    } // items
  } // container
}
// service終了


// faq開始
.faq {
  padding-top: 65px;
  padding-bottom: 100px;

  @include mq(tab){
    padding-bottom: 45px;
  }

  .container {

    h2 {
      text-align: center;
      font-size: 38px;
      color: $theme-blue;

      @include mq(tab){
        font-size: 30px;
      }
    } // h2
    .items {
      margin-top: 40px;
      
      @include mq(tab){
        margin-top: 30px;
      }

      .item {
        // padding: 20px 40px;
        box-shadow: 2px 3px 8px #ddd;
        border-radius: 30px;
        margin-bottom: 20px;

        .question {
          color: #187d91;
          font-weight: bold;
          font-size: 18px;
          padding-right: 20px;
          cursor: pointer;
          padding: 20px 40px;
          padding-right: 60px;
          position: relative;

          @include mq(tab){
            font-size: 16px;
            padding: 15px 30px;
            padding-right: 45px;
          }
          p {
            position: absolute;
            right: 20px;
            top: 35%;
            transform: rotate(90deg);

            &.on {
              transform: rotate(270deg);
            }
          }
        } // q
        .answer {
          display: none;
          padding: 20px 40px;
          padding-top: 0px;
          font-size: 16px;
          font-weight: bold;

          @include mq(tab){
            font-size: 14px;
            padding: 15px 30px;
            padding-top: 0;
          }
        } // a
      } // item
    } // items
  }
}
// faq終了


// twitter開始
.twitter {
  max-width: 900px;
  margin: 80px auto;
  width: 100%;
  height: 400px;
  overflow: scroll;
  font-size: 20px;
}
.twitter-timeline {
  max-width: 00px;
  height: 500px;

}
.timeline-InformationCircle-widgetParent {
  display: none !important;
}
// twitter終了


// footer開始
footer {
  background-color: #fcfcfc;
  padding: 60px 0;

  .container {
    text-align: center;

    h2 {
      font-size: 18px;
      color: $theme-blue;
      margin-bottom: 10px;

      @include mq(sp){
        font-size: 15px;
      }
    }
    .btn {
      padding: 20px 120px;
      font-size: 24px;

      @include mq(sp){
        font-size: 20px;
        padding: 15px 80px;
      }
    }
    .logo {
      margin-top: 30px;
      font-weight: bold;
      text-align: center;

      img {
        width: 100px;
      }
    }
    .copyright{
      margin-top: 30px;
      // font-weight: bold;

      @include mq(sp){
        font-size: 14px;
      }
    }
  }
}
// footer終了


/*　ーーーーーーーーーーーーーーーーーーーーー
  archive.html開始
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.archive {
  margin-top: 160px;
  margin-bottom: 120px;

  .container {
    max-width: 800px;
    margin: auto;

    h2 {
      color: $theme-blue;
      text-align: center;
      font-size: 32px;
      margin-bottom: 30px;
    } // h2
    a {
      
      .archive-item {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0px;
        
        &:hover {
          background-color: $theme-gray;
        }
        
        .item-top {
          display: flex;
          gap: 20px;
          
          time {
            
          } // time
          .category {
            background-color: #BB272E;
            color: white;
            font-size: 12px;
            padding: 2px 12px;
          } // category
        } // top
        .item-title {
          color: #555;
          margin-top: 10px;

          @include mq(sp){
            font-size: 16px;
          }
        } // item-title
      } // item
    }
  } // container
}



/*　ーーーーーーーーーーーーーーーーーーーーー
  archive.html終了
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
